h1{
    text-align: center;
    opacity: 0.9;
}
h3{
    text-align: center;
    text-decoration: underline;
    opacity: 0.9;
}
p{
    font-size: 1.5em;
    opacity: 0.9;
}
pre{
    font-size: 1.5em;
    color: rgb(201, 14, 14);
}
li{
    font-size: 1.2em;
}
